@page
@model PersonalDataModel
@{
    ViewData["Title"] = "اطلاعات شخصی";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>حساب شما خاوی اطلاعات شخصی ثبت شده شماست در این صفحه می توانید این اطلاعات را  مشاهده و یا حذف کنید .</p>
        <p>
            <strong>حذف این اطلاعات باعث حذف حساب کاربری شما می شود و امکان بازیابی حساب وجود نخواهد داشت.</strong>
        </p>
        <div class="d-inline-flex">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">دریافت</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mx-2">حذف</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
